.root {
  cursor: default;

  &.folder {
    .title {
      white-space: nowrap;
      &:before {
        color: hsl(319 58% 50% / 1);
        cursor: pointer;
        display: inline-block;
        content: "\002B";
        width: 12px;
        margin-right: 4px;
        text-align: center;
      }
    }

    &.open {
      .title {
        &:before {
          content: "\2013";
        }
      }
    }
  }

  &:hover {
    background-color: rgba(211, 71, 166, 0.28);
  }
}